<main>
        <section class="hero">
            <h1>Welcome to Basketball Stats: </h1>
            <p>
                All stats and player data are obtained from:
                <a href="https://www.kaggle.com/datasets/eoinamoore/historical-nba-data-and-player-box-scores" target="_blank" rel="noopener noreferrer">
                    kaggle dataset by Eoin A. Moore
                </a> and
                managed using a .NET API developed by me. <br>
                This is where daily best player stats will be displayed. As well as game outcomes for the day.
            </p>
            <h1>
                🐐
            </h1>
            <p>
                <img [src]="playerImageUrl" [alt]="'Lebron James'" />
            </p>
            <p>
                {{playerStats?.pointsPerGame| number:'1.0-1'}} PPG
            </p>
            <p>
                {{playerStats?.assistsPerGame| number:'1.0-1'}} APG
            </p>
            <p>
                {{playerStats?.reboundsPerGame| number:'1.0-1'}} RPG
            </p>
        </section>
</main>